root = true

# All Files
[*]
charset = utf-8

[*.{cs,csx,cake,vb,vbx}]

dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA5394.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1031.severity = none


